<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.arhamsoft.matchranker">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name=".AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:usesCleartextTraffic="true"
        android:windowSoftInputMode="adjustPan"
        android:supportsRtl="true"
        android:theme="@style/Theme.MatchRanker">
        <activity
            android:name=".activity.SongDetails"
            android:exported="false" />
        <activity
            android:name=".activity.Bottomsheet_Player"
            android:exported="true" />
        <activity
            android:name=".activity.MainScreen"
            android:exported="true"
            /> <!-- <activity -->
        <!-- android:name=".activity.EditProfile" -->
        <!-- android:exported="true" /> -->
        <!-- <activity -->
        <!-- android:name=".activity.EmailVerification" -->
        <!-- android:exported="true" /> -->
        <activity
            android:name=".activity.ForgotPassword"
            android:exported="true" />
        <activity
            android:name=".activity.LogIn"
            android:exported="true" />
        <activity
            android:name=".activity.SignUp"
            android:exported="true" />
        <activity
            android:name=".activity.Onboarding"
            android:exported="true" />
        <activity
            android:name=".activity.Splash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".service.MediaPlaybackServiceJava"
            android:exported="true">
            <intent-filter>
                <action android:name="android.media.browse.MediaBrowserService" />
            </intent-filter>
        </service>

        <receiver android:name="android.support.v4.media.session.MediaButtonReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>
    </application>

</manifest>